<div class="glavni">
  <div class="slika"></div>
  <div class="pocetna">
    <p class="naslov">Zapocnite kupovinu</p>
    <img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5/2bb30686-0f26-4ff2-8016-130dd20512c9/jordan-dri-fit-sport-crossover-fleece-hoodie-zSnzkl.png" alt="" class="slika_duks">
    <button style="margin-top: 5%;" (click)="prijava()" mat-flat-button>Prijavite se</button>
    <button style="margin-top: 5%;" (click)="gost()" mat-flat-button>Nastavi kao gost</button>
  </div>
</div>
