<div class="filter">
  <div class="dugmad">
    <p class="fixed">SEARCH</p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Search po nazivu</mat-label>
      <input matInput placeholder="Unesi naziv" [(ngModel)]="search.Naziv">
    </mat-form-field>
    <p class="fixed">FILTERI</p>
    <mat-form-field appearance="fill">
      <mat-label>Sortiraj po</mat-label>
      <mat-select  [(ngModel)]="search.ComboBoxSearch">
        <mat-option *ngFor="let list of listSort" [value]="list.value">
          {{list.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="Filtriraj()">Pretraga</button>
  </div>

</div>
<div class="ponuda">
  <mat-grid-list cols="4"rowHeight="400px">
    <mat-grid-tile *ngFor="let x of obs | async"><mat-card class="example-card">
      <img mat-card-image src="{{x.slika}}" style="height: 150px">
      <mat-card-content>
        <p style="font-size: 14px;font-weight: bold">{{x.naziv}}</p>
        <p style="font-size: 12px">
          Adresa : {{x.adresa}} KM
        </p>
      </mat-card-content>
    </mat-card></mat-grid-tile>

  </mat-grid-list>
  <mat-paginator style="position: relative" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>


