<form [formGroup]="profileForm" autocomplete="off">
<div class="pocetna">
  <img src="https://img.rasset.ie/00139b7c-800.jpg" alt="" class="slika_pocetni">
  <div class="center">
    <h1>Login</h1>
      <div class="txt_field">
        <input formControlName="email" matInput [(ngModel)]="loginKorisnik.email">
        <mat-hint style="color: red" *ngIf="profileForm.get('email').touched && profileForm.get('email').errors?.['required']">Ovo polje je obavezno</mat-hint>
        <mat-hint style="color: red" *ngIf="profileForm.get('email').errors?.['minlength']">Ovo polje mora imati minimalno 5 karaktera</mat-hint>
        <span></span>
        <label>Email</label>
      </div>
      <div class="txt_field">
        <input formControlName="lozinka" matInput [(ngModel)]="loginKorisnik.lozinka">
        <mat-hint style="color: red" *ngIf="profileForm.get('lozinka').touched && profileForm.get('lozinka').errors?.['required']">Ovo polje je obavezno</mat-hint>
        <mat-hint style="color: red" *ngIf="profileForm.get('lozinka').errors?.['minlength']">Ovo polje mora imati minimalno 5 karaktera</mat-hint>
        <span></span>
        <label>Lozinka</label>
      </div>
      <button mat-raised-button style="background-color: #3d3d3d;color: white" (click)="Login(loginKorisnik)">Dodaj</button>
      <div class="signup_link">
        Not a member? <a href="/registracija" class="site-header__icon site-header__account">Signup</a>
      </div>
  </div>
</div>
</form>



