<div class="naslovna">
  <div class="logo"><img class="slika" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/37/Jumpman_logo.svg/300px-Jumpman_logo.svg.png"></div>
  <nav class="navigacija">
    <ul>
      <li routerLink="/pocetna" routerLinkActive="active">POCETNA</li>
      <li routerLink="/login" routerLinkActive="active">LOGIN</li>
      <li routerLink="/proizvodi-pregled" routerLinkActive="active">PROIZVODI</li>
      <li routerLink="/admin" routerLinkActive="active">Admin</li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>

